@page
@model CriticsSayWeb.Pages.Account.ProfileModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticate" : "_Layout";
}

<style>
    /* Custom CSS styles */
    .container-fill {
        background-color: #f0f0f0; /* Light gray color */
        padding: 20px; /* Add some padding for spacing */
        border-radius: 5px; /* Add rounded corners */
    }
</style>

<div class="container-fill bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="@Model.profile.FirstName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="@Model.profile.LastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="@Model.profile.Email">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
