@page
@model CriticsSayWeb.Pages.Account.ProfileModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticate" : "_Layout";
}

<style>
    /* Custom CSS styles */
    .container-fill {
        background-color: #f0f0f0; /* Light gray color */
        padding: 20px; /* Add some padding for spacing */
        border-radius: 5px; /* Add rounded corners */
    }
</style>

<div class="container-fill bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Personal info</h3>

            <form method="post">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" asp-for="Profile.FirstName">
                        <span asp-validation-for="Profile.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" asp-for="Profile.LastName">
                        <span asp-validation-for="Profile.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" asp-for="Profile.Email">
                        <span asp-validation-for="Profile.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
