@page
@model CriticsSayWeb.Pages.Account.RegisterModel
@{
}
<form method="post">
    <div class="row text-danger" asp-validation-summary="All"></div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="NewPerson.FirstName" class="form-label"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="NewPerson.FirstName" />
            <span asp-validation-for="NewPerson.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="NewPerson.LastName" class="form-label"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="NewPerson.LastName" />
            <span asp-validation-for="NewPerson.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="NewPerson.Email" class="form-label"></label>
        </div>
        <div class="col-10">
            <input type="email" class="form-control" asp-for="NewPerson.Email" />
            <span asp-validation-for="NewPerson.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="NewPerson.Password" class="form-label"></label>
        </div>
        <div class="col-10">
            <input type="password" class="form-control" asp-for="NewPerson.Password" />
            <span asp-validation-for="NewPerson.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <button id="btnRegister" class="btn-primary">Register</button>
        </div>
    </div>
</form>