@page
@model CriticsSayWeb.Pages.Account.ViewMovieItemsModel
@{
}


<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <!-- Images -->
        <div class="col-md-4">
            <!-- Movie poster image 1 -->
            <img src="https://m.media-amazon.com/images/I/61qCgQZyhOL._AC_UF894,1000_QL80_.jpg" alt="Terminator movie poster" class="img-fluid mb-2" width="200" height="400" />
            <!-- Movie poster image 2 -->
            <br />
            <img src="https://i.etsystatic.com/18242346/r/il/4f9713/3517804383/il_570xN.3517804383_nutl.jpg" alt="Elf poster" class="img-fluid mb-2" width="200" height="400" />
        </div>

        <!-- View Movies -->
        <div class="col-md-4">
            <h2 class="text-center mb-4">View Movies</h2>
            <ul class="list-group">
                <li class="list-group-item">Movie 1</li>
                <li class="list-group-item">Movie 2</li>
                <li class="list-group-item">Movie 3</li>
            </ul>
        </div>

        <!-- Images -->
        <div class="col-md-4">
            <div class="text-end">
                <!-- Movie poster image 3 -->
                <img src="https://bst.icons8.com/wp-content/themes/icons8/app/uploads/2019/05/poster-for-movie.png" alt="Harry Potter poster" class="img-fluid mb-2" width="200" height="400" />
                <!-- Movie poster image 4 -->
                <br />
                <img src="https://imgc.allpostersimages.com/img/posters/e-t-the-extra-terrestrial-1982-directed-by-steven-spielberg_u-L-Q1RLWIK0.jpg" alt="ET poster" class="img-fluid mb-2" width="200" height="400" />
            </div>
        </div>
    </div>
</div>
